@import '../../../../app/components/_styles/theme';

.bannerImage {
  img {
    display: block;
  }
}

.description {
  display: flex;
  justify-content: space-between;
  padding: 24px;
}

.hashTitle {
  text-transform: uppercase;
  font-family: futur, $safe-fonts;
  font-size: 40px;
  line-height: 40px;
}

@import 'Banner.module.wide';
