@import '../../../../app/components/_styles/theme';

.bannerImage {
  margin-top: 16px;

  img {
    display: block;
  }
}

.textContainer {
  @media screen and (min-width: 975px) {
    padding: 24px 0;
    max-width: 1008px;
    margin: 0 auto;
  }
}

.optional {
  text-align: left;
  color: #ff2157;
  margin-bottom: 8px;
  font-size: 16px;
}

.description {
  display: flex;
  justify-content: space-between;
}

.hashTitle {
  text-transform: uppercase;
  font-family: futur, $safe-fonts;
  margin-right: 24px;
  text-align: left;
  max-width: 63%;
}
