.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.content {
  margin: 16px 0;
  width: 32.2%;
  &:nth-child(2) {
    margin: 16px 13px;
  }
  &:nth-child(4) {
    margin: 16px 13px;
  }
  @media screen and (min-width: 975px) {
    max-width: 391px;
    max-height: 497px;
  }
  > a {
    &:hover {
      text-decoration: none;
    }
  }
}
.contentThree {
  margin: 16px 0;
  width: 235px;
  @media screen and (min-width: 975px) {
    max-width: 391px;
    width: 32.4%;
    max-height: 497px;
  }
}
.title{
  font-size: 30px;
  margin: 48px 0 8px;
  font-family: futur,Arial Narrow,sans-serif;
  font-weight: 700;
}
