.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: baseline;
  width: 100%;
  justify-content: space-evenly;
}
.content {
  width: 100%;
  width: 360px;
  margin: 32px 0;
  @media screen and (min-width: 975px) {
    width: 568px;
  }
  &:hover {
    zoom: 1.002;
  }
}
.contentThree {
  margin: 32px 0;
  width: 235px;
  @media screen and (min-width: 975px) {
    width: 391px;
  }
  &:hover {
    zoom: 1.002;
  }
}
