.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: baseline;
  width: 100%;
  justify-content: space-evenly;
  margin-bottom: 48px;
}
.content {
  width: 100%;
  width: 568px;
  height: 690px;
  &:hover {
    zoom: 1.01;
  }
}
.contentThree {
  margin: 32px 0;
  width: 391px;
  height: 560px;
  &:hover {
    zoom: 1.03;
  }
}
