@import '../../../../app/components/_styles/theme';

.blockText {
  //padding: 24px;
  
}

.textPart {
  font-family: roboto, $safe-fonts;
  width: 100%;
}

.titleTextPart {
  font-family: robotoc, $safe-fonts;
  font-weight: bold;
  text-align: left;
  line-height: 26px;
  line-height: 32px;
}

.paragraph {
  margin-top: 16px;
  text-align: left;
  font-family: robotoc, $safe-fonts;
}

.button {
  margin: 24px 0;
}

.textContainer {
  display: flex;
}

.textPartOrdered {
  margin: 0 24px 0 0;
}

.verbatimContainer {
  margin: 24px 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-self: center;

}

.textPartIsAfter {
  order: 2;
  margin: 0 0 0 24px;
}

.huge{
  font-size: 24px;
  line-height: 28px;
  color: #1d1d1b;
}
.big {
  font-size: 16px;
    line-height: 25px;
    color: #999999;
}
.verbatimBlockText {
  &:before {
    content: '“';
    color: $color-sarenza;
    font-size: 200px;
    line-height: 200px;
    display: table-cell;
    position: relative;
    top: 124px;
    font-family: 'robotoc';
  }

  font-size: 40px;
  line-height: 46px;
  font-weight: bolder;
  color: $color-secondary;
  text-transform: uppercase;
  text-align: center;
  display: table;
  margin-top: -160px;
  font-family: 'futur';

  &:after {
    content: '„';
    color: $color-sarenza;
    font-size: 200px;
    line-height: 200px;
    display: table-cell;
    vertical-align: bottom;
    position: relative;
    top: -10px;
    font-family: 'robotoc';
  }

  & > span {
    font-size: 40px;
    line-height: 40px;
  }
}

@import 'BlockText.module.wide';
