@import '../../_styles/theme';

$button-color: $color-primary !default;
$button-bg: #fff !default;
$button-width: 50px !default;
$button-padding: 6px 8px !default;
$button-border-color: $color-border !default;
$button-border-width: 1px !default;
$button-border-radius: 4px !default;
$button-hover-bg: $color-primary !default;
$button-hover-color: $color-white !default;

.button {
  box-sizing: border-box;
  white-space: nowrap;
  display: inline-block;
  position: relative;
  margin: 0;
  line-height: 1.75;
  text-decoration: none;
  border: none;
  outline: none;
  cursor: default;

  &:not(:disabled) {
    &:hover {
      cursor: pointer;
    }
  }

  &.hasLoader:not(:disabled):hover {
    cursor: default;
  }

  .iconAfter {
    margin-left: 5px;
    position: absolute;
    height: top;
    top: 50%;
    transform: translate(-90%, -50%);
    left: 90%;
  }
  .iconBefore {
    margin-right: 5px;
  }

  &,
  svg {
    //transition: all 0.2s ease-in;
  }
}

.default {
  width: 192px;
  height: 48px;
  font-size: 12px;
  padding: 16px 32px;
  text-transform: uppercase;
  background-color: #000000;
  color: #fff;
  font-weight: bold;
  font-family: RobotoC;

  &.whiteTheme {
    background-color: white;
    color: #1d1d1b;
  }

  span {
    font-size: 12px;
  }
  svg {
    fill: $button-color;
  }

  &:not(:disabled) {
    &:hover,
    &:active {
      // background: $button-hover-bg;
      // color: $button-hover-color;
      cursor: pointer;

      svg {
        fill: $button-hover-color;
      }
    }
    &:active {
      // box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.3);
    }
  }
}

.cta {
  @extend .default;
  background-color: $color-primary;
  color: #fff;
}

.disabled {
  opacity: 0.4;
  color: $color-text-light;
  cursor: not-allowed;
}
