li[data-partner] .pictenza-chat:before {
  content: '';
  font-size: 34px;
  line-height: 13px;
}
li[data-partner] .pictenza-chat span {
  text-indent: -9999em;
  display: inline-block;
}
#UserNavPlaceholder .user-nav > li[data-partner] {
  display: block;
  max-width: 50%;
  text-align: left;
}
#UserNavPlaceholder .user-nav > li[data-partner] > a {
  display: none;
}
#UserNavPlaceholder .user-nav > li[data-partner] .pictenza-chat {
  display: block;
  border: none;
  font-weight: 700;
  width: 160px;
}
#UserNavPlaceholder .user-nav > li[data-partner] .pictenza-chat:before {
  content: '\e624';
  margin: 0 8px 0 0;
  vertical-align: middle;
  height: 39px;
  line-height: 26px;
}
#UserNavPlaceholder .user-nav > li[data-partner] .pictenza-chat span {
  text-indent: 0;
}
@media screen and (min-width: 975px) {
  .no-touch li[data-partner] > a > span {
    text-indent: -9999em;
    display: inline-block;
  }
  .no-touch li[data-partner] .pictenza-chat:before {
    content: '\e624';
  }
  .no-touch li[data-partner] .pictenza-chat span {
    display: flex;
    text-indent: 0;
  }
}
