@media screen and (min-width: 975px) {
  .duoQR {
    .textContainer {
      padding: 20px 32px 24px;
    }

    .mainTitle {
      font-size: 40px;
      line-height: 42px;
    }

    .imageContainer {
      width: 480px;
      height: 658px;
    }
  }
}
