.duoQR {
  overflow: hidden;
  padding-top: 24px;

  &:nth-child(odd) {
    .imageContainer {
      float: left;
      margin-right: 24px;
    }
  }

  &:nth-child(even) {
    .imageContainer {
      float: right;
      margin-left: 24px;
    }
  }

  .imageContainer {
    width: 403px;
    overflow: hidden;
    margin-bottom: 16px;
  }

  .image {
    display: block;
    width: 100%;
  }

  .textContainer {
    text-align: left;
    padding: 0 0 24px;
  }

  .mainTitle {
    color: #ff2157;
    margin-bottom: 32px;
  }
  h2 {
    font-size: 24px;
    line-height: 28px;
  }
  h3 {
    font-size: 22px;
    line-height: 24px;
  }
  h4 {
    font-size: 18px;
    line-height: 24px;
  }
  p {
    font-size: 16px;
    line-height: 25px;
  }

  .paragraph {
    margin: 16px 0 32px;
    font-size: 16px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

@import 'DuoQRImage.module.wide';
