.resume {
  text-align: left;
  padding: 0 8px;
  margin-top: 16px;
  font-family: RobotoC;
  font-weight: bold;
}
.author {
  margin-top: 20px;
  text-align: left;
  padding: 0 8px;
  margin-top: 16px;
  font-family: RobotoC;
  font-weight: normal;
}
