.container {
    margin: 0;
    text-align: left;
    min-height: 100vh;
    height: 100vh;
    background: #272822;

    pre {
        margin: 0;
        padding: 30px;
    }
}
.custom-json-pretty {
    min-height: 100vh;
}
