@import '../../../../_styles/theme';
@import '../../../../_styles/mixins/loader';

.default {
  box-sizing: border-box;
  -moz-appearance: none;
  -webkit-appearance: none;
  white-space: nowrap;
  cursor: default;

  &:not(:disabled) {
    &:hover {
      cursor: pointer;
    }
  }
}

.link {
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

.button {
  display: inline-flex;
  position: relative;
  margin: 0;
  padding: $button-padding;
  min-width: $button-width;
  height: $button-height;
  line-height: 1.75;
  color: $button-color;
  border: 1px solid #d5d5d5;
  text-decoration: none;
  outline: none;
  align-items: center;
  user-select: none;
  vertical-align: middle;
  justify-content: center;
  background-color: $button-bg;
  //transition: all 0.2s ease-in;

  &:not(:disabled) {
    &:hover,
    &:active {
      border: transparent;
      background: #f2f2f2;
      font-family: RobotoC;
      font-weight: bold;
      color: #1d1d1b;
      cursor: pointer;
    }
    &:active {
      border: transparent;
      background: #f2f2f2;
      font-family: RobotoC;
      font-weight: bold;
      color: #1d1d1b;
    }
  }
}

.cta {
  @extend .button;
  background-color: $color-primary;
  color: #fff;
}

.digit {
  @extend .button;
  @include buttonDigit;
}

.disabled {
  opacity: 0.4;
  color: $color-text-light;
  cursor: not-allowed;
}

svg + .buttonLabel,
.buttonLabel + svg {
  margin-left: 5px;
}
