@import '../../../../_styles/theme';
@import '../../../../_styles/mixins/loader';

.default {
  cursor: default;

  &:not(:disabled) {
    &:hover {
      cursor: pointer;
    }
  }
  &.disabled {
    color: black;
    pointer-events: none;
  }
}

.link {
  text-decoration: none;
}

.button {
  display: inline-block;
  position: relative;
  margin: 0;
  //line-height: 1.75;
  color: $button-color;
  border: 1px solid #d5d5d5;
  text-decoration: none;
  outline: none;
  padding: 16px !important;
  margin-right: 8px !important;
  font-size: 12px;
  font-family: robotoc;
  background-color: $button-bg;
  white-space: nowrap;
  height: 48px;

  &:not(:disabled) {
    &:hover,
    &:active {
      border: 1px solid transparent;
      background: #f2f2f2;
      font-family: robotoc;
      //font-weight: bold;
      text-shadow: 0px 0px 0.9px #1d1d1b;
      color: #1d1d1b;
      cursor: pointer;
    }
    &:active {
      border: 1px solid transparent;
      background: #f2f2f2;
      font-family: robotoc;
      //font-weight: bold;
      color: #1d1d1b;
      text-shadow: 0px 0px 0.9px #1d1d1b;
    }
  }
}

.cta {
  @extend .button;
  background-color: $color-primary;
  color: #fff;
}

.digit {
  @extend .button;
  @include buttonDigit;
}

.disabled {
  //opacity: 0.4;
  color: $color-text-light !important;
  cursor: not-allowed !important;
  border: none !important;
  background-color: none !important;
  font-size: 14px;
  font-family: robotoc;
  color: #a6a6a6;
  letter-spacing: -0.4px;
  text-align: center;
  text-transform: uppercase;
  padding: 0 !important;
}
.pagination {
  border: none;
  background-color: none;
  font-family: robotoc;
  font-weight: bold;
  font-size: 14px;
  color: #000000;
  letter-spacing: -0.4px;
  text-align: center;
  padding: 0 !important;
  text-transform: uppercase;
  text-shadow: none;
  &:not(:disabled) {
    &:hover,
    &:active {
      border: none;
      background-color: none !important;
      background: none !important;
      font-family: robotoc;
      font-weight: bold;
      font-size: 14px;
      color: #000000;
      letter-spacing: -0.4px;
      text-align: center;
      padding: 0 !important;
      text-transform: uppercase;
      text-shadow: none;
    }
  }
}
.first {
  margin-right: 24px !important;
  margin-left: 0 !important;
}
.last {
  margin-left: 24px !important;
  margin-right: 0 !important;
}
.buttonLabel,
.buttonLabel + svg {
  //margin-left: 5px;
}
