.vignetteContainer {
  overflow-y: hidden;
  overflow-x: auto;
  margin: 8px 0;
}

@keyframes heartOn {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: 0;
    transform: scale(2.5);
  }
}