.card {
  position: relative;
  margin-bottom: 16px;
  &:focus {
    outline: none;
  }
}

.cards {
  display: flex;
  flex-direction: column;
  width: 190px;
  margin: 0 auto;
}

.btn {
  position: absolute;
  bottom: 30px;
  left: 45px;
  background-color: white;
  padding: 8px;
  border-radius: 16px;
  font-family: RobotoC;
  font-size: 12px;
  text-transform: uppercase;
  text-decoration: underline;
  font-weight: 600;
}
