@import '../../../../../app/components/_styles/theme';

.card {
  display: flex;
  margin-right: 16px;

  &:focus {
    outline: none;
  }
}

.cardLink {
  &:hover {
    text-decoration: none;
  }

  &:focus {
    outline: none;
  }

  width: 100%;
  display: block;
}

.cardSubcontainer {
  width: 300px;
}

.image {
  margin: 0 auto;
  width: 100%;
  display: block;
}

.cardTextContainer {
  padding: 8px 8px 16px;
  display: flex;
  flex-direction: column;
  text-align: left;
  font-family: robotoc;
}

.stateLabel {
  color: #ff2157;
  font-weight: bold;
  font-size: 12px;
  margin-bottom: 4px;
}

.titleProduct {
  color: #1d1b1b;
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 8px;
  @media screen and (min-width: 975px) {
    margin-top: 24px;
  }
}

.descriptionProduct {
  color: #979797;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-right: 8px;
}

.cardSubcontainer {
  position: relative;
}

.pictenzaFavoritesSelect {
  &:before,
  &:after {
    content: '\e644';
    color: #ff2157;
  }

  &:after {
    animation: heartOn 0.35s ease forwards;
    position: absolute;
    top: 2px;
    right: 2px;
    line-height: 33px;
    min-width: 36px;
  }
}

.favoriteCard {
  &:before {
    margin: 8px 13px 10px;
    font-size: 18px;
  }

  position: absolute;
  top: 16px;
  right: 24px;
  border-radius: 30px;
  background-color: white;
  outline: none;
}

@keyframes heartOn {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: 0;
    transform: scale(3);
  }
}

@import 'ShoppingCard.module.wide';
