@import '../../../../../app/components/_styles/theme';

@media screen and (min-width: 975px) {
  .card {
    margin-right: 0;
  }

  .cardSubcontainer {
    width: auto;
  }

  .image {
    max-width: calc(100% - 16px);
  }

  .cardTextContainer {
    margin: 0 8px;
  }

  .favoriteCard {
    &:hover {
      color: #ff2157;
    }
  }
}
