@import '../../../../app/components/_styles/theme';

.container {
  padding-top: 48px;
}

.verbatimContainer {
  margin: 24px 0;
}

.textContainer {
  padding: 0 24px 0;
}

.imageContainer {
  height: 514px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 24px;
}
.image {
  display: block;
  max-width: none;
}

.textPart {
  padding: 0 0 24px;
  font-family: roboto, $safe-fonts;
}

.titleTextPart {
  font-family: robotoc, $safe-fonts;
  font-weight: bold;
  text-align: left;
  line-height: 26px;
  line-height: 32px;
  padding: 0 24px 0;
}

.paragraph {
  margin-top: 16px;
  text-align: left;
  font-family: robotoc, $safe-fonts;
}

.button {
  button {
    width: inherit;
  }
}
.huge {
  font-size: 24px;
  line-height: 28px;
  color: #1d1d1b;
}
.big {
  font-size: 16px;
  line-height: 25px;
  color: #999999;
}
.verbatimMobile {
  &:before {
    content: '“';
    color: $color-sarenza;
    font-size: 200px;
    line-height: 200px;
    display: table-cell;
    position: relative;
    top: 124px;
    font-family: 'robotoc';
  }

  font-size: 32px;
  line-height: 32px;
  font-weight: bolder;
  color: $color-secondary;
  text-transform: uppercase;
  text-align: center;
  display: table;
  margin-top: -138px;
  font-family: 'futur';

  &:after {
    content: '„';
    color: $color-sarenza;
    font-size: 200px;
    line-height: 200px;
    display: table-cell;
    vertical-align: bottom;
    position: relative;
    top: -10px;
    font-family: 'robotoc';
  }
}
