@import '../../../../app/components/_styles/theme';

.container:nth-child(odd) {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  .image {
    order: 2;
    align-self: center;
    flex: 0 1 auto;
  }
}

.container:nth-child(even) {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  .image {
    order: 1;
    align-self: center;
    flex: 0 1 auto;
  }
}

.container {
  overflow: hidden;
  padding-top: 24px;
}

.verbatimContainer {
  margin: 32px 0;
}

.textPart:nth-child(even) {
  padding: 0 24px 24px;
  font-family: roboto, $safe-fonts;
  order: 1;
  align-self: center;
  flex: 0 1 auto;
}
.textPart:nth-child(odd) {
  padding: 0 24px 24px;
  font-family: roboto, $safe-fonts;
  order: 2;
  align-self: center;
  flex: 0 1 auto;
}

.titleTextPart {
  font-family: robotoc, $safe-fonts;
  font-weight: bold;
  text-align: left;
  line-height: 26px;
  line-height: 32px;
  margin-bottom: 24px;
}

.paragraph {
  margin-top: 16px;
  text-align: left;
  font-family: robotoc, $safe-fonts;
}

.image {
  width: 338px;
  margin-bottom: 24px;
}

.button {
  margin: 32px 0 0;

}
.huge{
  font-size: 24px;
  line-height: 28px;
  color: #1d1d1b;
}
.big{
  font-size: 16px;
  line-height: 25px;
  color: #999999;
}

.verbatim {
  &:before {
    content: '“';
    color: $color-sarenza;
    font-size: 200px;
    line-height: 200px;
    display: table-cell;
    position: relative;
    top: 124px;
    font-family: 'robotoc';
  }

  font-size: 40px;
  line-height: 46px;
  font-weight: bolder;
  color: $color-secondary;
  text-transform: uppercase;
  text-align: center;
  display: table;
  margin-top: -138px;
  font-family: 'futur';

  &:after {
    content: '„';
    color: $color-sarenza;
    font-size: 200px;
    line-height: 200px;
    display: table-cell;
    vertical-align: bottom;
    position: relative;
    top: -10px;
    font-family: 'robotoc';
  }
}

@import 'Duo.module.wide';
