@import '../../../../app/components/_styles/theme';

.container:nth-child(odd) {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  .image {
    order: 2;
    align-self: center;
    flex: 0 1 auto;
  }
}

.container:nth-child(even) {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  .image {
    order: 1;
    align-self: center;
    flex: 0 1 auto;
  }
}

.container {
  overflow: hidden;
  padding-top: 24px;
}

.verbatimContainer {
  margin: 32px 0;
}

.textPart:nth-child(even) {
  padding: 0 24px 24px;
  font-family: roboto, $safe-fonts;
  order: 1;
  align-self: center;
  flex: 0 1 auto;
}
.textPart:nth-child(odd) {
  padding: 0 24px 24px;
  font-family: roboto, $safe-fonts;
  order: 2;
  align-self: center;
  flex: 0 1 auto;
}

.titleTextPart {
  font-family: robotoc, $safe-fonts;
  font-weight: bold;
  text-align: left;
  line-height: 26px;
  line-height: 32px;
  margin-bottom: 24px;
}

.paragraph {
  margin-top: 16px;
  text-align: left;
  font-family: robotoc, $safe-fonts;
}

.image {
  width: 338px;
  margin-bottom: 24px;
}

.button {
  margin: 32px 0 0;

}

@import 'Duo.module.wide';
