@import '../../../../app/components/_styles/theme';

.rightBlock {
  font-family: robotoc, $safe-fonts;
  text-align: center;

  > span {
    color: #999999;
  }
}
.author {
  font-size: 14px;
  line-height: 18px;
  color: $color-secondary;
}
