@import '../../_styles/theme';

$text-color-error: red !default;
$color-primary: #737373;
$color-sarenza: #ff2157;

.text {
  color: $color-primary;
}

.secondary {
  color: $color-secondary;
}
.container {
  font-weight: 400;
  font-size: $text-font-base;
  line-height: 1.5em;
}

.error {
  color: $text-color-danger;
}

.red {
  color: $text-color-error;
}

.ellipsis {
  display: inherit;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.small {
  font-size: $text-font-small;
}

.medium {
  font-size: $text-font-medium;
  line-height: 22px;
}

.big {
  font-size: 16px;
  line-height: 25px;
}

.bigger {
  font-size: 20px;
}

.huge {
  font-size: 32px;
}

.light {
  font-weight: 300;
}

.bold {
  font-weight: 600;
}

.verbatimBlockText {
  &:before {
    content: '“';
    color: $color-sarenza;
    font-size: 200px;
    line-height: 200px;
    display: table-cell;
    position: relative;
    top: 124px;
    padding-right: 20px;
    font-family: 'robotoc';
  }

  font-size: 40px;
  line-height: 46px;
  font-weight: bolder;
  color: $color-secondary;
  text-transform: uppercase;
  text-align: center;
  display: table;
  margin-top: -160px;
  font-family: 'futur';

  &:after {
    content: '„';
    color: $color-sarenza;
    font-size: 200px;
    line-height: 200px;
    display: table-cell;
    vertical-align: bottom;
    padding-left: 20px;
    position: relative;
    top: -10px;
    font-family: 'robotoc';
  }
}

.verbatimBlockTextMobile {
  &:before {
    content: '“';
    color: $color-sarenza;
    font-size: 200px;
    line-height: 200px;
    display: table-cell;
    position: relative;
    top: 124px;
    font-family: 'robotoc';
  }

  font-size: 32px;
  line-height: 32px;
  font-weight: bolder;
  color: $color-secondary;
  text-transform: uppercase;
  text-align: center;
  display: table;
  margin-top: -120px;
  font-family: 'futur';

  &:after {
    content: '„';
    color: $color-sarenza;
    font-size: 200px;
    line-height: 200px;
    display: table-cell;
    vertical-align: bottom;
    position: relative;
    top: -10px;
    font-family: 'robotoc';
  }
}

.verbatim {
  &:before {
    content: '“';
    color: $color-sarenza;
    font-size: 200px;
    line-height: 200px;
    display: table-cell;
    position: relative;
    top: 124px;
    padding-right: 20px;
    font-family: 'robotoc';
  }

  font-size: 40px;
  line-height: 46px;
  font-weight: bolder;
  color: $color-secondary;
  text-transform: uppercase;
  text-align: center;
  display: table;
  margin-top: -138px;
  font-family: 'futur';

  &:after {
    content: '„';
    color: $color-sarenza;
    font-size: 200px;
    line-height: 200px;
    display: table-cell;
    vertical-align: bottom;
    padding-left: 20px;
    position: relative;
    top: -10px;
    font-family: 'robotoc';
  }
}

.verbatimMobile {
  &:before {
    content: '“';
    color: $color-sarenza;
    font-size: 200px;
    line-height: 200px;
    display: table-cell;
    position: relative;
    top: 124px;
    font-family: 'robotoc';
  }

  font-size: 32px;
  line-height: 32px;
  font-weight: bolder;
  color: $color-secondary;
  text-transform: uppercase;
  text-align: center;
  display: table;
  margin-top: -138px;
  font-family: 'futur';

  &:after {
    content: '„';
    color: $color-sarenza;
    font-size: 200px;
    line-height: 200px;
    display: table-cell;
    vertical-align: bottom;
    position: relative;
    top: -10px;
    font-family: 'robotoc';
  }
}
