.menu-group[data-menu-group='2']:hover {
  .sub-inner {
    display: flex !important;
  }
}

#MainNavOpener {
  outline: none;
}

.no-touch > #MainNavOverlay {
  width: 1200px;
}

.closer {
  outline: none;
}
