.wrapper:nth-child(even) {
  max-width: 1008px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  position: relative;
  padding-bottom: 48px;
  margin-bottom: 48px;

  .boxButton{
    align-self: center;
    order: 1;
    width: 49.9%;
    position: relative;
  }

  .blocText {
    padding: 0 24px;
    overflow-y: scroll;
    max-height: 482px;
    @media screen and (min-width:975px){
        max-width: 528px;
        max-height: 482px;
      }   
      &::-webkit-scrollbar {
        width: 0px;
        background: transparent; /* make scrollbar transparent */
    } 
  }
  .visual {
    align-self: flex-start;
    max-width: 480px;
    order: 2;
    width: 49.9%;
  }
  .title {
    font-size: 32px;
    text-align: left;
    margin: 0;
    margin-bottom: 24px;
    font-family: robotoC;
    font-weight: bold;
    line-height: 32px;
    color: #1d1d1b;
  
    &:nth-child(1) {
      color: #ff2157;
    }
  }
  .text {
    text-align: left;
    font-size: 16px;
    line-height: 25px;
  }
  .link {
    position: relative; 
    left: -30%;
    font: 700 12px/14px robotoc, Arial Narrow, sans-serif;
    text-transform: uppercase;
    padding: 0 64px 0 32px;
    background: #1d1d1b;
    min-width: 96px;
    height: 48px;
    overflow: hidden;
    outline: 0;
    transition: background 0.25s ease, color 0.25s ease, border 0.25s ease;
    display: inline-flex;
    align-items: center;
    font-size: 12px;
    color: #ffffff;
    letter-spacing: -0.34px;
    text-align: left;
    line-height: 16px;
    
    @media screen and (min-width:975px){
        left: -35%;
    }
    
  
    &:after {
      position: absolute;
      right: 32px;
      top: 14px;
      margin-top: 0;
      margin-left: 1.5em;
      content: '\e372';
      font-family: pictenza;
      font-size: 1em;
      font-style: normal;
      speak: none;
      font-weight: 700;
      -webkit-font-smoothing: antialiased;
    }
  }
}
.wrapper:nth-child(odd) {
    max-width: 1008px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    position: relative;
    padding-bottom: 48px;
    margin-bottom: 48px;

    .boxButton{
        align-self: center;
        order: 2;
        width: 49.9%;
        position: relative;
      }

    .blocText {
      padding: 0 24px;
      overflow-y: scroll;
      max-height: 482px;
      &::-webkit-scrollbar {
        width: 0px;
        background: transparent; /* make scrollbar transparent */
    } 
      @media screen and (min-width: 975px) {
        max-width: 528px;
        padding: 0 24px;
      }
    }
    .visual {
      align-self: flex-start;
      max-width: 480px;
      order: 1;
      width: 49.9%;
    }
    .title {
        font-size: 32px;
        text-align: left;
        margin: 0;
        margin-bottom: 24px;
        font-family: robotoC;
        font-weight: bold;
        line-height: 32px;
        color: #1d1d1b;
      
        &:nth-child(1) {
          color: #ff2157;
        }
      }
      .text {
        text-align: left;
        font-size: 16px;
        line-height: 25px;
      }
      .link {
        position: relative;
        left: -30%;
        display: inline-flex;
        align-items: center;
        vertical-align: middle;
        font: 700 12px/14px robotoc, Arial Narrow, sans-serif;
        text-transform: uppercase;
        padding: 0 64px 0 32px;
        background: #1d1d1b;
        min-width: 96px;
        height: 48px;
        overflow: hidden;
        outline: 0;
        font-size: 12px;
        color: #ffffff;
        letter-spacing: -0.34px;
        text-align: left;
        line-height: 16px;
        text-decoration: none;
        
        @media screen and (min-width:975px){
          left: -35%;
        }
        &:after {
          position: absolute;
          right: 32px;
          top: 14px;
          margin-top: 0;
          margin-left: 1.5em;
          content: '\e372';
          font-family: pictenza;
          font-size: 1em;
          font-style: normal;
          speak: none;
          font-weight: 700;
          -webkit-font-smoothing: antialiased;
        }
      }
  }



