@media screen and (min-width: 975px) {
  .slick-list {
    min-width: 1021px;
  }
  .slick-arrow {
    top: 165px;
  }
}

@media screen and (min-width: 1104px) {
  .slick-list {
    padding: 0 96px;
  }
}
