.containerImgContent {
  width: 100%;
  position: relative;
  overflow: hidden;
  max-width: 568px;
  max-height: 528px;

  > .images {
    width: 100%;

    @media screen and (min-width: 975px) {
      height: 528px;
      min-width: 568px;
      // transition: transform ease 1s;

      &:hover {
        // transform: scale(1.1);
        // transition: transform ease 1s;
      }
    }
  }
}
.containerImgContentThree {
  width: 100%;
  position: relative;
  overflow: hidden;
  max-height: 363px;
  max-width: 391px;

  > .images {
    width: 100%;

    @media screen and (min-width: 975px) {
      height: 363px;
      min-width: 391px;
      // transition: transform ease 1s;

      &:hover {
        // transform: scale(1.1);
        // transition: transform ease 1s;
      }
    }
  }
}
