.breadcrumb {
  display: inline-block;

  & > a {
    font-size: 12px;
    color: #999999;
    font-family: robotoc;
    text-transform: inherit;
  }
  &:after {
    content: "/";
    margin: 0 5px;
  }

  &:nth-last-child(1) {
    &:after {
      content: " ";
    }
  }
}
.separation {
  color: #999999;
  margin: 0 8px;
}
.active {
  pointer-events: none;
}