@media screen and (min-width: 975px) {
  .card {
    margin: 0;

    &:last-child {
      padding-right: 0;
    }
  }

  .cardSubcontainer {
    width: auto;
    overflow: hidden;

    img {
      max-width: calc(100% - 16px);

      &:hover {
        + .gellule {
          bottom: 16px;
        }
      }
    }
  }

  .favoriteCard {
    &:hover {
      color: #ff2157;
    }
  }

  .gellule {
    transition: bottom 0.2s;
    bottom: -40px;

    &:hover {
      bottom: 16px;
    }
  }
}
