/* select only first item, when there are four items or more */
.vignette:first-child:nth-last-child(n+4) {
  padding-left: 16px;
}

/* select all items, when there are four items or more */
.vignette:first-child:nth-last-child(n+4),
.vignette:first-child:nth-last-child(n+4) ~ .vignette {
  display: table-cell;
  padding-right: 16px;

  .imageContainer {
    width: 80vw;
    max-width: 288px;
    padding: 0;
  }
}

.vignette {
  &:not(:first-child) {
    margin-top: 16px;
  }
}

.link {
  outline: none;
}

.imageContainer {
  padding: 0 24px;
}

.imageSubContainer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    display: block;
    width: 100%;
  }
  >.gellule{
    background: #ffffff;
  }
}

.pictenzaFavoritesSelect {
  &:before,
  &:after {
    content: '\e644';
    color: #ff2157;
  }

  &:after {
    animation: heartOn 0.35s ease forwards;
    position: absolute;
    top: 2px;
    right: 2px;
    line-height: 33px;
    min-width: 36px;
  }
}

.favoriteCard {
  &:before {
    margin: 8px 13px 10px;
    font-size: 18px;
  }

  position: absolute;
  top: 16px;
  right: 16px;
  border-radius: 30px;
  background-color: white;
  outline: none;
}

.gellule:focus:before {
  width: auto;
  height: auto;
  margin: 0 10px 0 0;
}

.gellule {
  &:before {
    font-size: 20px;
    position: relative;
    bottom: 4px;
  }

  position: absolute;
  bottom: 16px;
  border-radius: 20px;
  border: none;
  height: 40px;
  min-width: 0;
  padding: 0 24px;

  &:after {
    display: none;
  }
}

.onlyText {
  text-decoration: underline;
}

@keyframes heartOn {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: 0;
    transform: scale(2.5);
  }
}