@font-face {
    font-family: "proximnr";
    src: url(https://cdn.sarenza.net/website/prod_b/assets/font/proxima_nova.woff) format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "proximnb";
    src: url(../fonts/Proxima/proxima_nova_bold.woff) format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "robotocd";
    src: url(../fonts/Roboto/Roboto-Condensed/roboto-condensed.woff) format("woff");
    font-weight: normal;
}

@font-face {
    font-family: "robotoc";
    src: url(../fonts/Roboto/Roboto-Condensed/roboto-condensed-bold.woff) format("woff");
    font-weight: bold;
}

@font-face {
    font-family: "roboto";
    src: url(../fonts/Roboto/Roboto/roboto.woff) format("woff");
    font-weight: normal;
}

@font-face {
    font-family: "futur";
    src: url(https://cdn.sarenza.net/website/prod_b/assets/font/futur-condensed-bold.woff) format("woff");
    font-weight: normal;
}

@font-face {
    font-family: "pictenza";
    src: url(https://cdn.sarenza.net/website/prod_b/assets/font/pictenza.woff) format("woff");
    font-weight: normal;
    font-style: normal;
}