.app {
  min-width: 768px;
  max-width: 768px;
  margin: 0 auto;
  @media screen and (min-width: 975px) {
    max-width: 1200px;
  }
}
.boxBreadcrumb {
  text-align: left;
  margin: 0 16px 0 24px;
  & > :first-child > a {
    color: #1d1d1b;
    font-weight: bold;
  }
  @media screen and (min-width: 975px) {
    margin: 0 16px 0 32px;
  }
}
