.productLook:nth-of-type(odd){
    .poster{
        order: 1;
        margin-right: 25px;
        @media screen and (min-width: 975px){
            margin-right: 32px;
        }
    }
    .blockScrollable{
        order:2;
    }
}
.productLook:nth-of-type(even){
    .poster{
        order: 2;
    }
    .blockScrollable{
        order:1;
        margin-right: 25px;
        @media screen and (min-width: 975px){
            margin-right: 32px;
        }
    }
}
.productLook {
  max-width: 1008px;
  display: flex;
  flex-direction: row;
  position: relative;
  padding-bottom: 48px;
  margin-bottom: 48px;
  margin: 24px auto;

  .poster {
    align-self: flex-start;
    max-width: 384px;
    flex: 1 1 65%;
    position: sticky;
    position: -webkit-sticky; /* Safari */
    top: 20px;
    text-align: left;
    @media screen and (min-width: 975px){
        max-width: 634px;
    }
  }
  .blockScrollable {
    align-self: center;
    align-items: flex-start;
    position: relative;
    display: flex;
    flex-flow: row wrap; 
    text-align: left;
    @media screen and (min-width: 975px){
        max-width: 360px;
    }  
  }
  .title {
    font-size: 24px;
    text-align: left;
    margin: 24px 0 8px 8px;
    font-family: robotoC;
    font-weight: bold;
    line-height: 32px;
    color: #1d1d1b;
  }
  .paragraphe {
    font-size: 16px;
    line-height: 25px;
    max-width: 100%;
    margin-left: 8px;
    margin-top: 0;
  }
  .link {
    position: relative;
    font: 700 12px/14px robotoc, Arial Narrow, sans-serif;
    text-transform: uppercase;
    padding: 0 64px 0 32px;
    background: #1d1d1b;
    min-width: 96px;
    height: 48px;
    overflow: hidden;
    outline: 0;
    display: inline-flex;
    align-items: center;
    font-size: 12px;
    color: #ffffff;
    letter-spacing: -0.34px;
    text-align: left;
    line-height: 16px;
    align-self: center;
    transform: translateX(-50%);
    left: 50%;

      
    &:after {
        position: absolute;
        right: 32px;
        top: 14px;
        margin-top: 0;
        margin-left: 1.5em;
        content: '\e372';
        font-family: pictenza;
        font-size: 1em;
        font-style: normal;
        speak: none;
        font-weight: 700;
        -webkit-font-smoothing: antialiased;
      }
  }
}
