.containerImgContent {
  width: 100%;
  position: relative;
  overflow: hidden;
  max-height: 398px;
  cursor: pointer;
  // height: 72%;

  > .images {
    width: 100%;

    @media screen and (min-width: 975px) {
      // transition: transform ease 1s;

      &:hover {
        // transform: scale(1.1);
        // transition: transform ease 1s;
      }
    }
  }
}
.containerImgContentThree {
  width: 100%;
  position: relative;
  overflow: hidden;
  max-height: 363px;
  max-width: 391px;
  cursor: pointer;

  > .images {
    width: 100%;

    @media screen and (min-width: 975px) {
      // transition: transform ease 1s;

      &:hover {
        // transform: scale(1.1);
        // transition: transform ease 1s;
      }
    }
  }
}
