.resume {
  text-align: left;
  padding: 0 16px;
  font-family: RobotoC;
  font-weight: bold;
  margin-top: 16px;
}
.author {
  margin-top: 20px;
  text-align: left;
  padding: 0 16px;
  margin-top: 16px;
  font-family: RobotoC;
  font-weight: normal;
}
.huge {
  font-size: 24px;
  line-height: 28px;
  font-family: RobotoC;
  color: #1d1d1b;
}
.small {
  font-size: 12px;
  font-size: 12px;
}
