.DuoImage {
  position: relative;
}
.container {
}
.Intro {
  color: #ff2157;
  text-align: center;
  font-family: Futur;
  font-size: 24px;
  line-height: 30px;
  margin: 24px 24px 0;
}
.BlockLeft {
  margin-top: 48px;
}
.BlockRight {
  margin-top: 48px;
}
.imageLeft {
  width: 100%;
}
.imageRight {
  width: 100%;
}
.title {
  color: #1d1d1b;
  font-family: robotoc;
  text-align: left;
  margin: 24px 24px 16px;
}
.Text {
  text-align: left;
  margin: 0 24px;
  line-height: 25px;
  font-size: 16px;
  color: #999;
  font-family: robotoc, Arial Narrow, sans-serif;
}
