.header {
  text-align: center;
  margin: 16px 16px 32px;
}
.blockText {
  padding: 14px 0 24px;
  width: 916px;
  margin: 0 auto;
}

.heading {
  margin: 0 auto;
  font-size: 56px;
  font-weight: bold;
}

.description {
  //margin-bottom: 35px;
}
.rubriques {
  margin-top: 16px;
}
.title {
  width: 296px;
  height: 58.4px;
  margin: 0 auto;
}
