.header {
  text-align: center;
  margin: 16px 16px 32px;
}
.blockText {
  padding: 14px 0 24px;
  margin: 0 auto;
  @media screen and (min-width: 975px) {
    width: 916px;
  }
}

.heading {
  margin: 0 auto;
  font-size: 56px;
  font-weight: bold;
}

.description {
  //tablette sinon rien
  margin: 0 auto;
  max-width: 704px;
  @media screen and (min-width: 975px) {
    margin: inherit;
    max-width: none;
  }
}
.rubriques {
  margin-top: 16px;
  min-width: 975px;
  display: flex;
  @media screen and (min-width: 975px) {
    min-width: inherit;
    display: inherit;
  }
}
.title {
  width: 296px;
  height: 58.4px;
  margin: 0 auto;
}
