@import '../../../../../app/components/_styles/theme';

.container {
  position: relative;
  height: 273px;
  width: 100%;
  //margin-bottom: 32px;
  @media screen and (min-width: 975px) {
    height: 452px;
  }
}

.content {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  flex-direction: column;
  z-index: 2;
  background-color: $color-white;
  width: 43%;
  height: 230px;
  text-align: left;
  line-height: 36px;
  font-weight: bold;
  padding: 1% 2.8%;
  @media screen and (min-width: 975px) {
    width: 33%;
    height: 310px;
  }
  &HP {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    flex-direction: column;
    z-index: 2;
    background-color: $color-white;
    width: 43%;
    height: 230px;
    text-align: left;
    line-height: 36px;
    font-weight: bold;
    padding: 1% 2.8%;
    @media screen and (min-width: 975px) {
      width: 33%;
      height: 310px;
    }
  }
}
.containerOne {
  width: 69.1%;
  max-height: 273px;
  position: absolute;
  right: 0;
  overflow: hidden;
  max-width: 459px;
  @media screen and (min-width: 975px) {
    max-width: 829px;
    max-height: 452px;
  }
  //left: inherit;
  &HP {
    width: 69.1%;
    max-height: 273px;
    position: absolute;
    left: 0;
    overflow: hidden;
    max-width: 459px;
    @media screen and (min-width: 975px) {
      max-width: 829px;
      max-height: 452px;
    }
  }
}
.image {
  position: relative;
  //left: 155px;
  //min-width: 459px;
  height: 273px;
  max-width: none;
  @media screen and (min-width: 975px) {
    left: inherit;
    //min-width: 829px;
    height: 452px;
    // transition: transform ease 1s;

    &:hover {
      // transform: scale(1.1);
      // transition: transform ease 1s;
    }
  }
}
