@import '../../../../../app/components/_styles/theme';

.container {
  position: relative;
  height: 452px;
  width: 100%;
}

.content {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  flex-direction: column;
  z-index: 2;
  background-color: $color-white;
  width: 442px;
  height: 310px;
  text-align: left;
  line-height: 36px;
  font-weight: bold;
  padding: 1% 2.8%;
}
.image {
  position: relative;
  left: 120px;
  width: 829px;
  height: 452px;
  &:hover {
    zoom: 1.05;
  }
}
